#geolonia-gis-editor-container
{
	width: 100%;
}

#geolonia-gis-editor-container .editor-container
{
	width: 100%;
	height: calc(100vh - 350px);
	min-height: 400px;
	position: relative;
}

#geolonia-gis-editor-container .editor-container #geolonia-map-editor
{
	border: 1px solid #CCCCCC;
	border-bottom: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#geolonia-gis-editor-container .editor-container #geolonia-geojson-editor
{
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 0;
	border-bottom: none;
	z-index: 9999;
	position: absolute;
	top: -1px;
	left: 0;
	bottom: -1px;
	right: 0;
	resize: none;
	outline: none;
	box-shadow: none;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	background-color: rgba(255, 255, 255, 0.9);
}

.geolonia-meta
{
	width: 100%;
}

#geolonia-gis-editor-container
{
	margin-top: 16px;
	position: relative;
}

#geolonia-gis-editor-container #geojson-meta-container
{
	position: absolute;
	bottom: 8px;
	left: 8px;
	display: none;
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	z-index: 1000;
}

#geolonia-gis-editor-container #geojson-meta-container .close::after{
	display: inline-block;
	content: "\00d7"; /* This will render the 'X' */
	border-radius: 100%;
	width: 27px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	background-color: #000;
	font-size: 19px;
	color: #FFF;
	position: absolute;
	top: -16px;
	right: -16px;
	cursor: pointer;
}

#geolonia-gis-editor-container .geojson-meta
{
	width: 100%;
	margin-bottom: 8px;
}

#geolonia-gis-editor-container .geojson-meta input
{
	width: 100%;
	border: 1px solid #CCCCCC;
	color: #000;
}

#geolonia-gis-editor-container .geojson-meta input::placeholder
{
	color: rgba(0, 0, 0, 0.4);
}

#geolonia-gis-editor-container .editor-menu
{
	text-align: right;
}

#geolonia-gis-editor-container .editor-menu button
{
	background-color: #F4F5F5;
	color: #000000;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	padding: 4px;
	width: 100px;
	margin-left: 4px;
}

#geolonia-gis-editor-container .editor-menu .inactive
{
	background-color: #ECECED;
	color: #666666;
	cursor: pointer;
}

#geolonia-gis-editor-container .editor-container #geolonia-uploader
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	display: none;
	color: #ffffff;
	box-sizing: border-box;
}

#geolonia-gis-editor-container .editor-container #geolonia-uploader .dashicons-upload
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	font-weight: bolder;
}

#geolonia-gis-editor-container .editor-container #geolonia-uploader .dashicons-upload::before
{
	font-size: 200px;
}

#geolonia-gis-editor-container .editor-container #geolonia-uploader.alert
{
	border: 5px dashed #FF0000;
	background-color: rgba(100, 0, 0, 0.4);
	color: #ff0000;
}

#geolonia-style-data-list
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#geolonia-style-data-list li
{
	width: 30%;
	max-width: 256px;
	border: 1px solid #0a4b78;;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	opacity: 0.6;
	cursor: pointer;
}

#geolonia-style-data-list li.hover
{
	opacity: 1;
}

#geolonia-style-data-list li.active
{
	opacity: 1;
}

#geolonia-style-data-list li img
{
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

#geolonia-style-data-list li .style-name
{
	position: absolute;
	bottom: 4px;
	left: 0;
	right: 0;
	text-shadow: 0 0 2px #FFFFFF;
	color: #000000;
}
