#geolonia-gis-editor-container
{
	width: 100%;
}

#geolonia-map-editor
{
	width: calc(100% - 2px);
	height: calc(100vh - 300px);
	min-height: 200px;
	border: 1px solid #CCCCCC;
	border-bottom: none;
}

.geolonia-meta
{
	width: 100%;
}

#geolonia-gis-editor-container
{
	margin-top: 16px;
	position: relative;
}

#color-picker
{
	position: absolute;
	bottom: 40px;
	left: 8px;
}
